<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<style>
progress {
  text-align: center;
}
progress:after {
  content: attr(value);
}
</style>

<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{% url 'ac:benchmark_list' %}">List Benchmarks</a></li>
            <li role="presentation"><a href="{% url 'ac:benchmark_create' %}">Create Benchmark</a></li>
            <li role="presentation"><a href="{% url 'ac:offer_list' %}">List Offers</a></li>
            <li role="presentation"><a href="{% url 'ac:offer_create' %}">Create Offer</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Company Assessment Center</h3>
      </div>

{% block content %}{% endblock %}

</div>
