{% extends "assessmentcenter/base.html" %}
{% load markdownify %}

{% block content %}
<script type="text/javascript">
	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Benchmark', 'Rating'],
      {% for rating in offer.rating_set.all %}
				['{{ rating.benchmark.name }}', {{ rating.rating }}],  
			{% endfor %}
      ]);
			var options = {
          title: 'Rating Distribution',
          legend: { position: 'none' },
      };
			var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
			chart.draw(data, options);
   }
</script>

<div class="page-header">
  <div class="container">
    <div class="col-sm-5">
      <h1>{{ offer.name }}</h1>
    </div>
    <div class="col-sm-5">
      <p>{{ offer.description|markdownify }}</p>
    </div>
  </div>
</div>

{% if offer.rating_set %}
      <div class="row">
			<div id="chart_div" style="width: 900px; height: 500px;"></div>
      </div>
      <div class="row">
        <ul class="list-group">
          {% for rating in offer.rating_set.all %}
              <a href="{% url 'ac:benchmark_detail' rating.benchmark.id %}" class="list-group-item">
              <div class="container">
              <div class="col-sm-3">
                <progress max="4" value="{{ rating.rating }}"></progress>
              </div>
              <div class="col-sm-7">
                <h4 class="list-group-item-heading">{{ rating.benchmark.name }}</h4>
              </div>
              </div>
            </a>
          {% endfor %}
        </ul>
      </div>
{% else %}
    <p>There are no ratings for this offer.</p>
{% endif %}
  <div class="container">
    <div class="col-sm-5">
      <form action="{% url 'ac:offer_delete' offer.id %}" method="get">
      {% csrf_token %}
        <button type="submit" class="btn btn-lg">Delete</button>
      </form>
    </div>
    <div class="col-sm-5">
      <form action="{% url 'ac:offer_update' offer.id %}" method="get">
      {% csrf_token %}
        <button type="submit" class="btn btn-lg">Update</button>
      </form>
    </div>
  </div>
  <div class="container">
  <h4>Deadline: {{ offer.deadline }}</h4>
  </div>
{% endblock %}
